body {
  font-family: 'Oswald', sans-serif;
}

#container {
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  height: 30vw;
  width: 30vw;
  margin: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #DDD;
  padding-top: 1vw;
  box-shadow: 1px 1px 5px #DDD;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

figcaption {
  width: 60%;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;

}

.product-image {
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 992px) {
  .item {
    height: 90vw;
    width: 90vw;
  }
}
