body {
  font-family: sans-serif;
}

#container {
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.item {
  width: 30vw;
  margin: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #DDD;
  padding: 1vw 0;
  box-shadow: 1px 1px 5px #DDD;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

figcaption {
  width: 90%;
  height: 10%;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.product-image {
  height: 80%;
  width: 80%;
}

.description {
  height: 10%;
  width: 90%;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  display: none;
}

@media screen and (max-width: 992px) {
  .item {
    height: 90vw;
    width: 90vw;
  }
  figcaption {
    font-size: 1.2rem;
  }
}
