body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

#container {
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  height: 32vw;
  width: 32vw;
}

figcaption {
  font-size: 2vw;
}

.product-image {
  height: 200px;
  width: 200px;
}
